USE [master]
GO
/****** Object:  Database [Minimal]    Script Date: 12/9/2021 1:59:59 PM ******/
CREATE DATABASE [Minimal]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Minimal', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Minimal.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Minimal_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Minimal_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Minimal].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Minimal]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 12/9/2021 1:59:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[categoryId] [uniqueidentifier] NOT NULL,
	[userId] [uniqueidentifier] NOT NULL,
	[categoryName] [varchar](50) NOT NULL,
	[categoryDescription] [varchar](200) NOT NULL,
	[totalCategoryItems] [int] NOT NULL,
	[totalCategoryItemsRemoved] [int] NOT NULL,
	[createdAt] [datetime] NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[categoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoryItem]    Script Date: 12/9/2021 1:59:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryItem](
	[categoryItemId] [uniqueidentifier] NOT NULL,
	[categoryId] [uniqueidentifier] NOT NULL,
	[itemId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_CategoryItem] PRIMARY KEY CLUSTERED 
(
	[categoryItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Item]    Script Date: 12/9/2021 1:59:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Item](
	[itemId] [uniqueidentifier] NOT NULL,
	[userId] [uniqueidentifier] NOT NULL,
	[itemName] [varchar](50) NOT NULL,
	[itemDescription] [varchar](200) NOT NULL,
	[timeOwned] [date] NULL,
	[quantity] [int] NOT NULL,
	[isDuplicate] [bit] NOT NULL,
	[isRemoved] [bit] NOT NULL,
	[necessityRank] [int] NOT NULL,
	[createdAt] [datetime] NOT NULL,
 CONSTRAINT [PK_Item] PRIMARY KEY CLUSTERED 
(
	[itemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12/9/2021 1:59:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[userId] [uniqueidentifier] NOT NULL,
	[firebaseKey] [varchar](50) NULL,
	[firstName] [varchar](50) NOT NULL,
	[lastName] [varchar](50) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[userGoalTier] [int] NOT NULL,
	[totalItemsOwned] [int] NOT NULL,
	[totalItemsRemoved] [int] NOT NULL,
	[createdAt] [datetime] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Category] ([categoryId], [userId], [categoryName], [categoryDescription], [totalCategoryItems], [totalCategoryItemsRemoved], [createdAt]) VALUES (N'0f617582-f381-4e80-934f-07bf530ac31b', N'454626d6-6345-492d-ac6b-2abe7c41c949', N'Kitchen', N'Stuff', 53, 12, CAST(N'2021-12-09T17:41:44.830' AS DateTime))
INSERT [dbo].[Category] ([categoryId], [userId], [categoryName], [categoryDescription], [totalCategoryItems], [totalCategoryItemsRemoved], [createdAt]) VALUES (N'9d2a9f4d-b838-4e27-9042-182e064a977a', N'f43419a3-0e9c-4ca8-a7bc-7f429c935897', N'Garage', N'Wheels and Stuff', 32, 23, CAST(N'2021-12-09T17:43:52.790' AS DateTime))
INSERT [dbo].[Category] ([categoryId], [userId], [categoryName], [categoryDescription], [totalCategoryItems], [totalCategoryItemsRemoved], [createdAt]) VALUES (N'6aeddbad-9f6b-45cb-8083-2273990d2aaf', N'454626d6-6345-492d-ac6b-2abe7c41c949', N'Bedroom', N'Clothing', 60, 43, CAST(N'2021-12-09T17:41:14.103' AS DateTime))
GO
INSERT [dbo].[CategoryItem] ([categoryItemId], [categoryId], [itemId]) VALUES (N'8453b28c-0d1b-46e2-9970-1a67b1a0f3bb', N'fb7ca301-a0c9-41b2-b31b-f0428f09d955', N'52d23a8f-faec-4d4d-b97c-eff49212ece2')
INSERT [dbo].[CategoryItem] ([categoryItemId], [categoryId], [itemId]) VALUES (N'231fd1e7-6ecc-4280-b8ec-7e6b1eebc707', N'9d2a9f4d-b838-4e27-9042-182e064a977a', N'e3396faa-4e9f-4204-a565-d32f2bc398ed')
INSERT [dbo].[CategoryItem] ([categoryItemId], [categoryId], [itemId]) VALUES (N'783254ef-41cd-4094-b5de-9ea7afd75d9e', N'6aeddbad-9f6b-45cb-8083-2273990d2aaf', N'6e94f9b9-a09c-4e18-b921-e2d8821bd497')
GO
INSERT [dbo].[Item] ([itemId], [userId], [itemName], [itemDescription], [timeOwned], [quantity], [isDuplicate], [isRemoved], [necessityRank], [createdAt]) VALUES (N'61a91b27-818b-42f7-a5de-6d0206b6e746', N'bd6e3c74-e8bd-490e-a854-0989d3fa5631', N'Shirt', N'Band T shirt', CAST(N'2005-09-10' AS Date), 1, 0, 0, 5, CAST(N'2021-12-09T17:57:03.453' AS DateTime))
INSERT [dbo].[Item] ([itemId], [userId], [itemName], [itemDescription], [timeOwned], [quantity], [isDuplicate], [isRemoved], [necessityRank], [createdAt]) VALUES (N'bb4326fd-bda3-4626-9c70-a3d7e15763de', N'30ac3ae3-4f49-4473-803b-4d5de3deb58f', N'Rake', N'Large rake for leaves', CAST(N'2000-11-13' AS Date), 1, 0, 1, 12, CAST(N'2021-12-09T17:58:13.990' AS DateTime))
INSERT [dbo].[Item] ([itemId], [userId], [itemName], [itemDescription], [timeOwned], [quantity], [isDuplicate], [isRemoved], [necessityRank], [createdAt]) VALUES (N'e3396faa-4e9f-4204-a565-d32f2bc398ed', N'f43419a3-0e9c-4ca8-a7bc-7f429c935897', N'Small Hose', N'hose for garden', CAST(N'2012-08-31' AS Date), 12, 0, 1, 45, CAST(N'2021-12-09T17:59:06.690' AS DateTime))
GO
INSERT [dbo].[Users] ([userId], [firebaseKey], [firstName], [lastName], [email], [userGoalTier], [totalItemsOwned], [totalItemsRemoved], [createdAt]) VALUES (N'bd6e3c74-e8bd-490e-a854-0989d3fa5631', NULL, N'Sean', N'Rossettie', N'seancrossettie@gmail.com', 1, 100, 0, CAST(N'2021-12-09T17:13:41.097' AS DateTime))
INSERT [dbo].[Users] ([userId], [firebaseKey], [firstName], [lastName], [email], [userGoalTier], [totalItemsOwned], [totalItemsRemoved], [createdAt]) VALUES (N'454626d6-6345-492d-ac6b-2abe7c41c949', NULL, N'Caroline', N'Rossettie', N'carolinegrossettie@gmail.com', 2, 50, 24, CAST(N'2021-12-09T17:14:03.787' AS DateTime))
INSERT [dbo].[Users] ([userId], [firebaseKey], [firstName], [lastName], [email], [userGoalTier], [totalItemsOwned], [totalItemsRemoved], [createdAt]) VALUES (N'30ac3ae3-4f49-4473-803b-4d5de3deb58f', NULL, N'John', N'Rossettie', N'john.rossettie@gmail.com', 3, 54, 3, CAST(N'2021-12-09T17:15:05.803' AS DateTime))
GO
ALTER TABLE [dbo].[Category] ADD  CONSTRAINT [DF_Category_categoryId]  DEFAULT (newid()) FOR [categoryId]
GO
ALTER TABLE [dbo].[Category] ADD  CONSTRAINT [DF_Category_createdAt]  DEFAULT (getutcdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[CategoryItem] ADD  CONSTRAINT [DF_CategoryItem_categoryItemId]  DEFAULT (newid()) FOR [categoryItemId]
GO
ALTER TABLE [dbo].[Item] ADD  CONSTRAINT [DF_Item_itemId]  DEFAULT (newid()) FOR [itemId]
GO
ALTER TABLE [dbo].[Item] ADD  CONSTRAINT [DF_Item_createdAt]  DEFAULT (getutcdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_User_userId]  DEFAULT (newid()) FOR [userId]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_User_createdAt]  DEFAULT (getutcdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[Category]  WITH CHECK ADD  CONSTRAINT [FK_Category_Users] FOREIGN KEY([userId])
REFERENCES [dbo].[Users] ([userId])
GO
ALTER TABLE [dbo].[Category] CHECK CONSTRAINT [FK_Category_Users]
GO
ALTER TABLE [dbo].[CategoryItem]  WITH CHECK ADD  CONSTRAINT [FK_CategoryItem_Category] FOREIGN KEY([categoryId])
REFERENCES [dbo].[Category] ([categoryId])
GO
ALTER TABLE [dbo].[CategoryItem] CHECK CONSTRAINT [FK_CategoryItem_Category]
GO
ALTER TABLE [dbo].[CategoryItem]  WITH CHECK ADD  CONSTRAINT [FK_CategoryItem_Item] FOREIGN KEY([itemId])
REFERENCES [dbo].[Item] ([itemId])
GO
ALTER TABLE [dbo].[CategoryItem] CHECK CONSTRAINT [FK_CategoryItem_Item]
GO
ALTER TABLE [dbo].[Item]  WITH CHECK ADD  CONSTRAINT [FK_Item_Users] FOREIGN KEY([userId])
REFERENCES [dbo].[Users] ([userId])
GO
ALTER TABLE [dbo].[Item] CHECK CONSTRAINT [FK_Item_Users]
GO
USE [master]
GO
